* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: black;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    flex-grow: 1;
}

a {
    display: block;
    text-align: center;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: arial;
    border-bottom: 4px solid black;
}

a:hover{
    color: yellow;
    /* border-bottom: 4px solid yellow; */
}

section {
    padding-top: 30px;
    text-align: center;
}

.active {
    border-bottom: 4px solid yellow;
}
